<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :link_to_apply, class: "label" %>
    <%= form.text_field :link_to_apply, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
    <%= form.rich_text_area :description %>
  </div>

  <div class="field">
    <%= form.label :company_name, class: "label" %>
    <%= form.text_field :company_name, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :company_website, class: "label" %>
    <%= form.text_field :company_website, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :company_description, class: "label" %>
    <%= form.rich_text_area :company_description %>
  </div>

  <div class="field">
    <%= form.label :compensation_range, class: "label" %>
    <%= form.text_field :compensation_range, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :remote, class: "label" %>
    <%= form.check_box :remote %>
  </div>

  <div class="field">
    <%= form.label :years_of_experience, class: "label" %>
    <%= form.text_field :years_of_experience, class: "input" %>
  </div>

  <div class="field">
    <%= form.label :user_id, class: "label" %>
    <%= form.text_field :user_id, class: "input" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
